*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

header{
    background-color: #55cc6f;
    
    
}
main {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: start;
    height: calc(100vh - 50px);
    flex-wrap: wrap;
}

.container {
    width: 35%;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 ,h4{
    text-align: center;
}
h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


table {
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

.actions button {
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.actions button.delete {
    background-color: #dc3545;
}

.actions button:hover {
    opacity: 0.8;
}
